@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IMPACT';
  src: url('../../public/fonts/Impact.ttf');
}

body {
  background-color: #F8FAFC;
  margin: 0;
}

.app-container {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}