@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IMPACT';
  src: url('../../public/fonts/Impact.ttf');
}

body {
  background-color: #F8FAFC;
  margin: 0;
}

.app-container {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}